{% extends 'base.html' %}
{% block content %}
<style>
    .icon {
        text-decoration: none;
    }

    img {
        height: 50vh;
        width: auto;
    }
    .flex {
        display: flex;
    }
    .flex h5 {
        text-align: justify;
    }
</style>
<div class="w3-margin-top w3-padding">
    <a class="w3-text-theme-2 w3-dsiplay-right material-icons icon" href="javascript: history.back();">arrow_back</a>
    <h1 class="w3-center w3-margin-right w3-text-theme">Who Was
        {{character.name}}?</h1>
    <div class="flex">
        <h5>{{character.bio}}</h5>
        <img class="w3-margin w3-hide-small" src="{{url_for('static', filename=character.img)}}" alt="Photo of {{character.name}}">
    </div>
    <p class="w3-hide-large">Images cannot be shown on a screen this size. Please use a larger device to view them.</p>
</div>
{% endblock content %}